a:link, a:visited, a:hover, a:active{
  color: black;
  text-decoration: none;
}
.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }

/*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
-webkit-border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-ms-border-radius: 15px 15px 15px 15px;
border-radius: 15px 15px 15px 15px;*/

#tabla_resultados, #tabla_resultados_2{
  text-align: center;
}

#tabla_resultados .resultado, #tabla_resultados_2 .resultado{
  font-size: 14px;
  display: inline-block !important;
  width: 200px;
  height: auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  border: 2px solid #000000;
  margin: 10px;
}

.boton{
  cursor: pointer;
  width: 10;
  height: 10;
}

.cancion, .video{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #EAEAEA;
  background: -moz-linear-gradient(top, #FFF, #EAEAEA);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA));
  border: 1px solid #CACACA;
  color: #444;
  margin: 0 0 25px;
  padding: 5px 9px;
  width: 260px;
  height: 17px;
}

.cancion:focus, .video:focus{
  background: #FFF;
  -webkit-box-shadow: 0 0 25px #CCC;
  -moz-box-shadow: 0 0 25px #ccc;
  box-shadow: 0 0 25px #CCC;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}
button {
 background: #65a9d7;
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA));
 background: -webkit-linear-gradient(top, #FFF, #EAEAEA);
 background: -moz-linear-gradient(top, #FFF, #EAEAEA);
 background: -ms-linear-gradient(top, #FFF, #EAEAEA);
 background: -o-linear-gradient(top, #FFF, #EAEAEA);
 padding: 5px 10px;
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
 -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
 box-shadow: rgba(0,0,0,1) 0 1px 0;
 text-shadow: rgba(0,0,0,.4) 0 1px 0;
 text-decoration: none;
 vertical-align: middle;
}
button:hover {
 border-top-color: #28597a;
 background: #28597a;
 color: #ccc;
}
button:active {
 border-top-color: #1b435e;
 background: #1b435e;
}

#audio-contenedor{
  position:fixed;
  bottom:0px;
  width:100%;
  left: 40%;
  z-index: 10;
}